<!doctype html>
<html lang="en">
  <%- include('layouts/head'); -%>
  <body>
    <%- include('layouts/header'); -%>
    <%- include('layouts/sidebar'); -%>
    <main>
      <h2>
        Category:
        <%= category.name %>
      </h2>
      <p><%= category.description %></p>
      <% if (category_items.length > 0) { %>
      <p>
        <strong>
          Delete the following items before attempting to delete this category.
        </strong>
      </p>
      <section class="data-display">
        <h2>Items</h2>
        <ul>
          <% category_items.forEach((item) => { %>
          <li>
            <a href="<%= item.url %>"><%= item.name %></a>
          </li>
          <% }) %>
        </ul>
      </section>
      <% } else { %>
      <p>Are you sure you want to delete this category?</p>
      <form action="" method="post">
        <input
          class="hidden"
          type="hidden"
          id="category_name"
          name="category_name"
          value="<%= category.name %>"
        />
        <button type="submit" class="submit-btn">Delete</button>
      </form>
      <% } %>
    </main>
    <%- include('layouts/footer'); -%>
  </body>
</html>
